<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/historial.css">
</head>
<body>
   <div class="tabla-contenedor">
    <h1>Historial de entrenamientos</h1>   
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Distancia (km)</th>
            <th>Tiempo (min)</th>
            <th>Ritmo</th>
            <th>Calorías</th>
            <th>Tipo</th>
            <th>Lugar</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td class="dato-destacado">{{.Fecha.Format "02/01/2006"}}</td>
            <td>{{.DistanciaKm}}</td>
            <td>{{.TiempoMin}}</td>
            <td>{{printf "%.2f" .Ritmo}} min/km</td>
            <td>{{.Calorias}}</td>
            <td>{{.Tipo}}</td>
            <td>{{.Lugar}}</td>
        </tr>
        {{else}}
                <tr>
                    <td colspan="8" style="text-align: center; padding: 20px;">Aún no hay entrenamientos registrados.</td>
                </tr>
        {{end}}
    </table>
    <a href="/" class="link-secundario">Volver al inicio</a>
    </div>
</body>
</html>